
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
html{
  font-family: 'Roboto' , sans-serif;
  letter-spacing: 0.1px;  
  scroll-behavior: smooth;
  box-sizing: border-box;


}
*, *:before , *::after {box-sizing: inherit;
}
:root{
  --primary: #000;
  --secondary: #18181B;
  --border: rgba(63, 63, 70, 0.4);

  --title: rgb(244, 244, 245);
  --suptitle: rgb(161, 161, 170);

  --bghreader: rgb(39, 39,42 );
  --blue: rgb(93, 188, 252);
  --icon-hover: #d4d4d8;
}
.light {
  --primary: #fff;
  --secondary: rgb(255, 255, 255);
  --title: rgb(39, 39, 42);
  --suptitle: rgb(82, 82, 91);
  --border: rgba(202, 202, 202, 0.518);
  --bghreader: rgb(253, 253, 253);
  --blue: rgb(0, 149, 246);
  --icon-hover: #333;
}

button{
  all:unset;
}
a:hover,button{
  cursor: pointer;
}
button:active{
  scale: 0.9;
}
*{
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

body{
  background-color: var(--primary);
}
.container{
border: 2px solid var(--border);
width: 80%;
margin: 0px auto;
background-color: var(--secondary);
color: #fff;
padding:0 4.8rem;
}
.divider{
  border-bottom: 1px solid var(--border);
  margin: 3rem 0;
  width: calc( 100% + 4.8rem + 4.8rem);
  margin-left:-4.8rem;
  margin-right: -4.8rem;
}
ul{
  display: flex;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: initial;
  transition: 0.2s;
}
.flex{
  display: flex;
  align-items: center;
}
.border{
  border: red 2px solid;
}
 
::-webkit-scrollbar {
  width: 0.8rem;
 }
 
::-webkit-scrollbar-track {
  border: 7px solid #292c3b;
  box-shadow: inset 0 0 2.5px 2px var(--blue);
  border-radius: 4px;
  background-color: #d4d4d8;
  }
 
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}
 
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
 
/* for Firefox */
 html {scrollbar-color: #ffffff37 var(--secondary)} 
 
 .Btn {
  width: 45px;
  height: 45px;
  background: rgba(25, 118, 210, 0.85);
  bottom: 2rem;
  right: 3%;
  display: flex;
  align-items: center;
  transition: 0.3s;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
}
.Btn:hover{
  background: rgb(25, 118, 210);
  border: 1px solid rgba(255, 255, 255, 0.305);
}

.arrow path {
  fill: white;
}

.text {
  font-size: 0.7em;
  width: 100px;
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -18px;
  opacity: 0;
  transition-duration: .7s;
}

.Btn:hover .text {
  opacity: 1;
  transition-duration: .7s;
}

.Btn:hover .arrow {
  animation: slide-in-bottom .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
  
@media (max-width: 600px){
.Btn{
  opacity: 0.4;
  height: 2.4rem;
  width: 2.4rem;
}
}
@keyframes slide-in-bottom {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


@media (max-width: 1000px) {
  .container{
    width: 90%;
    padding: 0 1.5rem;
  }
  .divider{
    width: calc(100% + 1.5rem + 1.5rem);
    margin-left:-1.5rem;
    margin-right: -1.5rem;
  }
}
@media (max-width: 500px) {
.container{
  width: 98%;
  padding: 0 1.5rem;
}
.divider{
  width: calc(100% + 1.5rem + 1.5rem);
  margin-left:-1.5rem;
  margin-right: -1.5rem;
}
}